bdd_interface_demo/test-output/
bdd_interface_demo/.settings/org.eclipse.core.resources.prefs
bdd_interface_demo/.settings/org.eclipse.jdt.core.prefs
bdd_interface_demo/.settings/org.eclipse.m2e.core.prefs
